[submodule "server"]
	path = server
	url = https://github.com/caibingcheng/orlike.git
	branch = server
[submodule "client"]
	path = client
	url = https://github.com/caibingcheng/orlike.git
	branch = client